// 定义一个粉色的变量
@color: pink;
// 错误的变量名 @1color @color@
// 变量名区分大小写 @color 与@Color是不同的
// 定义一个字体为14像素的变量
@font14: 14px;
body {
    background-color: @color;
}

div {
    color: @color;
    font-size: @font14;
}

a {
    font-size: @font14;
}